@import "tailwindcss";

@theme {
    --color-bcipink: #D51B5D;
    --color-buttongreen: #21A71D;
}

body {
    font-family: "Montserrat", sans-serif;
}

#hero-section {
    background: url("../img/header-bg.png") rgba(213, 27, 93, 0.4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    min-height: 600px;
    position: relative;
}

.green-button {
    @apply bg-buttongreen px-6 py-2 rounded-lg uppercase font-bold text-white cursor-pointer;
}

.green-button:hover {
    @apply bg-green-700;
}

.wave-shape[data-negative=false].wave-shape-bottom {
    transform: rotate(180deg);
}
.wave-shape-bottom {
    bottom: -1px;
}
.wave-shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}

.wave-shape-bottom svg {
    width: calc(110% + 1.3px);
    height: 47px;
    transform: rotateY(180deg);
}

.wave-shape .wave-shape-fill {
    fill: oklch(0.928 0.006 264.531);
    transform-origin: center;
    transform: rotateY(0deg);
}
